{% extends "base.html" %}
{% block titulo %}Inicio-Sesion{% endblock %}
{% block body %}
<div class="row justify-content-md-center">
     <div class="col-md-5">
	 {% with messagges = get_flashed_messages() %}
	 {% if messagges %}
	    {% for messagge in messagges %}
	    <div class="container mt-4">
		<div class="alert alert-danger alert-dismissible fade show" role="alert">
		    {{ messagge }}
		    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
	    </div>
	 {% endfor%}
	 {% endif %}
	 {% endwith %}
	 <div class="card card-body">
	     <form action="/Inicio_sesion" method="POST">
		 <div class="form-floating">
		     <input class="form-control"  type="text" name="Correo" placeholder="Correo">
		     <label for="floatingInput">Correo</label>
		 </div>
	         <div class="form-floating">
		     <input class="form-control" type="password" name="Contrasena" placeholder="Contraseña">
		     <label for="floatingInput">Contraseña</label>
		 </div>
		 <div class="form-group">
		     <button class="btn btn-primary btn-block" type="submit">Iniciar Sesion</button>
		     <a class="btn btn-primary" href="/Principal">Regresar</a>
    		 </div>
	     </form>
	 </div>
     </div>
 </div>
{% endblock %}
